/* Color Theme Swatches in Hex */
$Vegetables-1: #547327;
$Vegetables-2: #adbf24;
$Vegetables-3: #96a621;
$Vegetables-4: #40352c;
$Vegetables-5: #bf8969;

$clr-text-primary: #222222;
$clr-text-second: #000000;
$clr-text-active: $Vegetables-2;
