/* Color Theme Swatches in Hex */
$Fashion-1-hex: #bf757b;
$Fashion-2-hex: #3b82bf;
$Fashion-3-hex: #f2d399;
$Fashion-4-hex: #d99b66;
$Fashion-5-hex: #f2f2f2;

/* Color Theme Swatches in RGBA */
$Fashion-1-rgba: rgba(191, 116, 122, 1);
$Fashion-2-rgba: rgba(59, 129, 191, 1);
$Fashion-3-rgba: rgba(242, 210, 152, 1);
$Fashion-4-rgba: rgba(216, 155, 101, 1);
$Fashion-5-rgba: rgba(242, 242, 242, 1);

/* Color Theme Swatches in HSLA */

$clr-text-primary: #5f6368;
$clr-text-second: #202124;
$clr-text-active: #174ea6;
