@use '../abstracts/' as *;

.table-container {
    width: 100%;
    table,
    th,
    td {
        border-top: 1px solid #ccc;
        border-collapse: collapse;
        padding: 1rem;
        color:$clr-gray;
    }
    table {
        width: 100%;
        border: 2px solid #ccc;
    }
    td {
        i {
            cursor: pointer;
            margin-right: 1rem;
            color: $clr-info;
            &:hover {
                color: $clr-success;
            }
        }
    }
}
