@use '../abstracts' as *;
.header {
    grid-area: header;
    @include flex-row($justify: space-between);
    padding: 1rem;
    .brand {
        a {
            font-size: fz(fz50);
        }
    }
    .nav{
        a{
            margin-right: 1rem;
        }
    }
}
