@use '../abstracts/' as *;
@use '../base/' as *;

.products {
    @include grid(250px, 1rem);
    grid-column-gap: 2rem;
    li {
        list-style: none;
        .product {
            @include flex-col($dir: column);
            gap: 1rem 0;
            padding: 1rem;
            width: 100%;
            a {
                width: 100%;
            }
            .img-wrapper {
                width: 100%;
                img {
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
            .product-name,
            .product-brand,
            .product-price {
                font-weight: 500;
            }
            .product-rating {
                .rating {
                    span {
                        i {
                            color: $clr-star;
                            font-size: 1.8rem;
                        }
                        &:last-child {
                            color: $clr-text-primary;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}
