@use '../abstracts/' as *;
.profile {
    @include flex-row($justify: space-between);
    gap: 3rem;
    .profile-info {
        flex: 1 1 30rem;
        form {
            width: 100%;
        }
    }
    .profile-orders {
        flex: 3 1 90rem;
        table {
            border-spacing: 0px;
            @include border();
            tr:nth-child(even) {
                background-color: #ccc;
            }
            thead > tr {
                background-color: $clr-success;
                > th {
                    padding: 0.5rem;
                }
            }
            tbody > tr > td {
                padding: 0.5rem;
            }
        }
    }
}
